{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'pacientes/css/list.css' %}">
{% endblock %}
{% block content %}
<div class="page-header">
    <h2>
        Pacientes
    </h2>
    {% if request.user.role != 'terapeuta' %}<a class="btn-primary" href="{% url 'paciente_create' %}">Novo paciente</a>{% endif %}
</div>
<form method="get" class="toolbar">
    <input type="text" name="q" placeholder="Buscar por nome" value="{{ busca }}" class="busca">
    <button class="btn-outline" type="submit">Buscar</button>
</form>
<div class="card table-card">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Responsável</th>
                <th>Contato</th>
                <th class="menu-acoes">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente.nome }}</td>
                <td>{{ paciente.responsavel }}</td>
                <td>{{ paciente.contato }}</td>
                <td class="acoes-lista">
                    {% if request.user.role != 'terapeuta' %}
                        <a href="{% url 'paciente_update' paciente.pk %}" class="hint-parent" data-hint="Editar Paciente">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                                <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4z"/>
                            </svg>
                        </a>
                        <a href="{% url 'paciente_delete' paciente.pk %}" class="hint-parent" data-hint="Excluir Paciente">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9z" clip-rule="evenodd"/>
                            </svg>
                        </a>
                    {% endif %}
                    <a href="{% url 'historico_evolucoes_paciente' paciente.pk %}" class="hint-parent" data-hint="Evolução do Paciente">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10.5 3A1.501 1.501 0 0 0 9 4.5h6A1.5 1.5 0 0 0 13.5 3h-3zm-2.693.178A3 3 0 0 1 10.5 1.5h3a3 3 0 0 1 2.694 1.678c.497.042.992.092 1.486.15 1.497.173 2.57 1.46 2.57 2.929V19.5a3 3 0 0 1-3 3H6.75a3 3 0 0 1-3-3V6.257c0-1.47 1.073-2.756 2.57-2.93.493-.057.989-.107 1.487-.15zM9 12.75a.75.75 0 0 0 0 1.5h.008a.75.75 0 0 0 0-1.5H9zm.375-2.25a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75zm0 4.5a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75zm0 3a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75zM9 15.75a.75.75 0 0 0 0 1.5h.008a.75.75 0 0 0 0-1.5H9zm-.75 3.75a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="4">Nenhum paciente encontrado.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
